{%extends 'base.html'%}
{%block content%}
{% load static%}
{% get_static_prefix as STATIC_PREFIX %}
{%if not user is None%}
{%with r=user%}
<div class="container mx-auto" style="width:60%;">
  Username:<p>{{r.username}}</p>
  First Name: <p>{{r.logger.first_name}}</p>
  Last Name: <p>{{r.logger.last_name}}</p>
  Age: <p>{{r.logger.age}}</p>
  Gender: <p>{{r.logger.gender}}</p>
  Phone no: <p>{{r.logger.phone_no}}</p>
  Bio: <p>{{r.logger.bio}}</p>
  <img src="{{STATIC_PREFIX}}{{r.logger.pp}}" alt="">
  <!-- Uploads/user_{#r.id#}/ -->
</div>
{%endwith%}
{%else %}
{%with r=request.user%}
<div class="container mx-auto" style="width:500px">
  Username:<p>{{r.username}}</p>
  First Name: <p>{{request.user.logger.first_name}}</p>
  Last Name: <p>{{request.user.logger.last_name}}</p>
  Age: <p>{{request.user.logger.age}}</p>
  Gender: <p>{{request.user.logger.gender}}</p>
  Phone no: <p>{{request.user.logger.phone_no}}</p>
  Bio: <p>{{request.user.logger.Bio}}</p>
</div>
{%endwith%}
{%endif%}
{%endblock%}
