{% extends 'base.html'%}

{%block content%}
{% if error %}
  {{error}}
{% endif %}
<div class="container" style="width:600px">

  <form action="{%url 'createUser'%}" method="post">
    {% csrf_token %}
    First name : <input type="text" name="first_name" value="" required><br><br>
    Last name : <input type="text" name="last_name" value="" required><br><br>
    Gender<br>
    Male : <input type="radio" name="gender" value="Male"> &nbsp;
    Female : <input type="radio" name="gender" value="Female"><br><br>
    Date of Birth : <input type="date" name="age" min="13" max="125" value=""required> <br><br>
    Displacement reason :
    <select class="" name="">
      {%for i in displacement_reason%}
        <option value="{{i}}">{{i}}</option>
      {%endfor%}
    </select>
    <input type="submit" name="signup" value="Signup"><br><br>
  </form>
</div>
{%endblock%}
