<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="a" action="#" method="post">
      <select class="ss" name="Orginization">
        <option value="bank">Bank</option>
        <option value="police">Police</option>
        <option value="hospital">Hospital</option>
        <option value="relif">Relif</option>
      </select>
      <input type="text" name="citizen_info" placeholder="Search Citizen"><br>
      <input type="submit" name="submit" value="Search">

    </form>
  </body>
</html>
